<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            background-image: linear-gradient(to bottom, rgba(98, 23, 146, 0) 0%, rgba(92, 23, 146, 0.2) 50%, rgba(92, 23, 146, 0.4) 100%);
            height: 100vh;
        }

        /* 로그인 바디 */
        .outline_line.login {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* top: 50%;
            left: 50%;  */
            position: absolute;
            width: 500px;
            height: 675px;
            border-radius: 60px;
            background-image: url(../static/img/bg_img.jpg) 0 0 no-repeat;
            overflow: hidden;

        }

        /* 배경이미지 돌리는 법 */
        .outline_line::before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
            z-index: -3;

            background: url(../static/img/bg_img.jpg) 0 0 repeat;
            transform: rotate(-270deg);
            background-size: 150%;
            opacity: 0.7;
        }

        .outline_line:first-child {
            background: url(../static/img/bg_overay.png)0 0 no-repeat;
            background-size: 620px 550px;
            background-position: 40% 230%;
            z-index: 1;
            background-blend-mode: overlay;
        }

        /* 로그인 폼 */
        .center {
            /* position: absolute;
            transform: translate(-50%, -50%); */
            width: 350px;
        }

        /* 로그인 글자 */
        .center h1 {
            color: white;
            text-align: center;
            font-weight: 400;
            padding: 0 0 20px 0;
        }

        /* 아이디, 페스워드 */
        form .txt_field {
            position: relative;
            margin: 30px 0;
            font-size: 35px;
            color: #ffffff;

        }

        /* 인풋창 */
        .txt_field input {
            width: 100%;
            height: 64px;
            font-size: 18px;
            background-color: rgba(186, 186, 186, 0.3);
            border-radius: 45px;
            border: none;
        }

        /* 인풋창 placeholder */
        .txt_field input::placeholder {
            color: #dadada;
            text-indent: 25px;
        }

        .txt_field label {
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: .5s;
        }

        .form button {
            color: white;
            width: 100%;
            height: 64px;
        }

        /* 로그인 버튼 */
        #login_bt {

            border: 1px;
            background: #FE2983;
            font-size: 18px;
            font-weight: 700;
            border-radius: 45px;
            cursor: pointer;
            outline: none;
        }

        /* 회원가입 버튼 */
        #singup_bt {
            width: 100%;
            height: 64px;
            border: 3px solid #FE2983;
            background-color: rgba(186, 186, 186, 0);
            font-size: 18px;
            font-weight: 700;
            border-radius: 45px;
            cursor: pointer;


        }

        #singup_bt a {
            text-decoration-line: none;
            color: white;
        }

        .form {
            padding-bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="outline_line login">
        <div class="center">
            <h1>LOGIN</h1>
            <form id="form_info">
                <div class="txt_field mb-3">
                    <input type="text" class="form-control" name="id" placeholder="ID">
                    <label for="floatingInput"></label>
                </div>
                <div class="txt_field">
                    <input type="password" class="form-control" name="pw" placeholder="PASSWORD">
                    <label for="floatingPassword"></label>
                </div>

                <div class="form">
                    <button type="button" id="login_bt" onclick="user_login()">로그인</button>
                </div>

                <button type="button" style="color:white;" id="singup_bt" onclick="location.href = '/signup'">
                    회원가입 </button>
                <div class="signup_link">
                </div>
            </form>
        </div>
    </div>

</body>
<script>
    function user_login() {
        var form = document.getElementById('form_info');

        let user = {
            id: form.id.value,
            pw: form.pw.value
        }
        axios({
            method: 'post',
            url: '/signin',
            data: user
        }).then((response) => {
            console.log(response);
            if (response.data == true) {
                alert('로그인 성공');
                //main페이지 연결
                window.location.href = "/";
            }
            else {
                alert('로그인 실패');
                form.reset();
            }
        })

    }
</script>

</html>